/*COPY OF CUSTOM.CSS */
.vert-spacer {
	min-height: 30px;
}

.spacer {
	height: 1.0em;
}

header {
	background-color: #000000;
	box-shadow: 0 0 5px 3px #888;
	color: #FFFFFF;
	font-size: 1.4em;
	font-weight: 900;
	height: 27px;
	left: 0%;
	position: fixed;
	text-align: left;
	top: 0%;
	top: 0%;
	width: 100%;
	word-spacing: 2.5em;
	z-index: 1;
}

header a,a:visited,a:hover {
	color: white;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

.main {
	box-shadow: 0px -2.5px 5px 0px #888;
}

div.centercol {
	background-color: #e4f3fe;;
	margin-bottom: 15px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	/**shadow**/
	box-shadow: 0px 0px 5px 0px #888;
}
/**Title up top**/
.lead {
	color: #000000;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -0.11em;
	padding-top: 1.5%;
	text-align: center;
	vertical-align: bottom;
	word-spacing: -0.07em;
}

.query-box {
	font-size: 29px;
	font-weight: normal;
	text-align: center;
}

.submit {
	background-color: #FFCF90;
	font-size: 29px;
	padding: 2px 2px 2px 2px;
}

div.ajaxload {
	text-align: center;
}

div.tweetbox {
	display: table-cell;
	float: left;
	/* 	background-color: pink; */
	width: 45%;
	/* 	padding: 1%; */
	margin-top: 8px;
	font-size: 1.20em;
	margin-left: 10px;
}

div.tweetbox span {
	font-weight: 800;
}

a.twitlink {
	font-weight: 900;
	letter-spacing: -0.11em;
	text-align: left;
}

a.leadname:visited {
	color: #607890;
}

div.twitprof {
	float: left;
	display: table-cell;
}

div.twitprof img {
	float: top;
	border: 1px solid black;
}

div.matchlead {
	color: black;
	letter-spacing: 0em;
	padding-left: 10px;
	font-weight: 900;
	letter-spacing: -0.11em;
	padding-top: 5px;
	background-color: #FAFAFA;
	margin-top: 15px;
	margin-bottom: 2px;
}

.list-lead {
	font-size: 28px;
	color: black;
	letter-spacing: 0em;
	margin-left: 50px;
	font-weight: 600;
	letter-spacing: -0.11em;
}

span.celeb-name {
	font-size: 28px;
	/* background-color: #ffe38f; */
}

div.words {
	font-size: 24px;
	margin-bottom: 5px;
	/* 	font-weight: 900; */
	/* //width: 100%; */
	text-align: left;
	vertical-align: middle;
	display: inline-block;
}

.word { /* 	background-color: silver; */
	background-color: #FFCF90;
	padding: 2px 2px 2px 2px;
	margin-left: 10px;
}

.word:hover {
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid grey;
	border-left: 2px solid grey;
}

.show-all { /* 	background-color: silver; */
	background-color: #FFCF90;
	padding: 2px 2px 2px 2px;
	margin-left: 10px;
}

div.tweet {
	padding-left: 8px;
	display: table-cell;
	word-wrap: break-word;
}

div.tweet_entry {
	text-align: left;
	font-size: 11px;
	display: table-row;
}

div.tweet_entry span {
	margin-left: 6px;
}

div.results_col {
	font-size: 0.75em;
	display: table;
	border-collapse: collapse;
	height: 20px;
}

#social {
	display: inline-block;
	text-align: right;
	margin-left: 5px;
	padding: 5px 0px 5px 0px;
	position: fixed;
	top: -5px;
	z-index: 2;
	right: 15px;
}

#facebook {
	display: inline-block;
	padding-left: 5px;
	/* 	padding-bottom: 7px; */
}

#twitter {
	display: inline-block;
	/* 	padding-bottom: 7px; */
	padding-top: 2px;
	z-index: 1;
	width: 110px;
}

.celeb-name {
	font-style: italic;
	text-transform: uppercase;
}

.matched-word {
	background-color: #FFF9AD;
	font-weight: 800;
	margin-left: 0px !important;
}

.top-border {
	border-top: 1px solid #D0D0D0;
}

div.row {
	display: table-row;
	margin-bottom: 5px;
	margin-top: 5px;
}

.error {
	padding: 10px;
	text-align: center;
}

.error img {
	border: 1px solid black;
}

.error div {
	width: 75%;
	margin: auto;
	word-wrap: break-word;
}

.error .errormsg {
	font-weight: bold;
	font-size: 16px;
}

#ajax-load {
	text-align: center;
	padding-top: 15px;
}

.pressed {
	border-left: 2px solid grey;
	border-top: 2px solid grey;
	border-bottom: 2px solid silver;
	border-right: 2px solid silver;
}

.show-more {
	text-align: center;
	border-top: 1px solid #D0D0D0;
}

.show-more input {
	background-color: transparent;
	border: 1px solid silver;
	border-top: 0px solid transparent;
	font-style: bold;
}

.show-more input:hover {
	background-color: transparent;
	border-left: 1px solid silver;
	border-top: 0px solid transparent;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	font-style: bold;
}

#permalink_container { /* 	padding: 5px; */
	text-align: center;
	font-size: 10px;
	color: grey;
	vertical-align: middle;
}

#permalink:visited {
	color: grey;
}

span.celeb-screen {
/* 	display: block; */
	font-size: 1.3em;

}


/* Personality Page Style */
#pers_section{
	font-size: 1.5em;

}

#pers_section div.pers_dim{
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 15px;
	font-weight: 300;
	width: 595px;;
}

#pers_section div.pers_dim img{
	height: 55px;
	float: left;
	padding-right: 5px;

}

#pers_section div.pers_id {
	font-size: 28px;
	font-style: italic;
	font-weight: 900;
	letter-spacing: -0.08em;
	color: black;
	margin-top: 15px;
	padding-left: 10px;
	padding-top: 5px;
	background-color: #FAFAFA;
}

#pers_section #pers_id {
	font-style: normal;
}

#pers_section div.pers_celeb{
	float: left;
	margin: 18px;
	width: 80px;
	text-align:center;
	font-size:13px;
}

#pers_section div.pers_celeb img{
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid black;
}

#pers_section div.pers_celeb a,#pers_section div.pers_celeb a:active,#pers_section div.pers_celeb a:visited {
	color: #607890;
	letter-spacing: -0.08em;
	font-weight:500;
}

#pers_section div.pers_celeb a:hover {
	color: #fff;
}

#p_nav {
	height: 110px;
	width: 730px;
	background-color: #FFCF90;
	position:absolute;
	z-index: -5;
	border-bottom-right-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	box-shadow: 0px 0px 5px 0px #888;

}
#nav_link{
	letter-spacing: -0.05em;
	font-weight:600;
	color: #000000;
	font-style: normal;
	text-decoration:none;
	float: right; 
	position: relative;
	display:block;
	height:130px;
	width:125px;
	padding-left:20px;
	-moz-transform: rotate(90deg);  /* FF3.5+ */        
	-o-transform: rotate(90deg);  /* Opera 10.5 */   
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */              
	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=1);  /* IE6,IE7 */          
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* IE8 */   
}
#progress_table{
	width: 242px;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
	
#showbar{
	font-size:12pt;
	padding:2px;
	border:solid black 1px;
	visibility:hidden"
}
