
<div class="result">

	<div class="descr">

		<div class="username">
			SNOOP DOGG <em>98% MATCH</em>
		</div>

		<div class="tweetbox">
			<a href="http://twitter.com/#!/snoopdogg"><em>@SnoopDogg</em> </a>
			tweeted
			<div>
				puffin <span class="match">blunts</span> at work lol w/ @BUNBTRILLOG
				Sailor Swag all the way cuzzin. Also mad respect for my favorite
				flag football team the raiders!<3
			</div>
			<!-- <span class="timestamp">
								4:35pm 5-27-2011</span> -->
		</div>
		<div class="tweetbox">
			You tweeted
			<div>
				I smoke AlL tHe <span class="match">bLuNtS!!</span> RT: @SWAGOSAURUS
				Man I Smoke Too Many Bluntzz OH MY SWAG I WISH I HAD MORE
				#HEART-o-CLOCK. (sometimes i say hi!)...
			</div>

		</div>

	</div>
	<div class="sharerow">
		<div class="avatar">
			<img src="img/snoop.jpg" alt="Snoop Dogg" />
		</div>


	</div>

</div>
<div class="result">
	<div class="nameexpand">
		Frank Sinatra <em>78%</em>
	</div>
	<div class="expand">
		<a href="#">Show | Show All</a>
	</div>
</div>
<div class="result">
	<div class="nameexpand">
		Lindsay Lohan <em>74%</em>
	</div>
	<div class="expand">
		<a href="#">Show | Show All</a>
	</div>
</div>
<div class="result">
	<div class="nameexpand">
		Moses Swagerstein <em>57%</em>
	</div>
	<div class="expand">
		<a href="#">Show | Show All</a>
	</div>
</div>
<div class="result">
	<div class="nameexpand">
		Cocaine Santa <em>38%</em>
	</div>
	<div class="expand">
		<a href="#">Show | Show All</a>
	</div>
</div>
<div class="result">
	<div class="nameexpand">
		Hot Girl From High School <em>12%</em>
	</div>
	<div class="expand">
		<a href="#">Show | Show All</a>
	</div>
</div>
</div>


swagger
<br>
blunts
<br>
cheesebro
<br>
techn9ne
<br>
#nahright
<br>
hungover
<br>
#firstworldproblems
<br>
#OMGWORKSUCKS
<br>
#poordecisions
<br>
brontosaurus
</br>
